[submodule "subprojects/dcimgui/imgui"]
	path = subprojects/dcimgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "subprojects/sdl3"]
	path = subprojects/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "subprojects/curl"]
	path = subprojects/curl
	url = https://github.com/curl/curl.git
[submodule "subprojects/dcimgui/dear_bindings"]
	path = subprojects/dcimgui/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
[submodule "subprojects/mlib"]
	path = subprojects/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "subprojects/cwalk"]
	path = subprojects/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "subprojects/json-c"]
	path = subprojects/json-c
	url = https://github.com/json-c/json-c.git
[submodule "subprojects/bc7e/bc7e_ispc"]
	path = subprojects/bc7e/bc7e_ispc
	url = https://github.com/BinomialLLC/bc7e.git
[submodule "subprojects/wolfssl"]
	path = subprojects/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "subprojects/shlex/shlex_cpp"]
	path = subprojects/shlex/shlex_cpp
	url = https://github.com/shogo82148/shlex.cpp.git
[submodule "subprojects/c7zip/7-Zip"]
	path = subprojects/c7zip/7-Zip
	url = https://github.com/mcmilk/7-Zip.git
